body {
  background-color: #f67d67;
  color: #333333;

  height: 100%;
  overflow: hidden;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

.emoji {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
}

.emoji img {
  width: 140px;
  height: 140px;
  transform: translate(-50%, -50%);
}
